*{margin:0;padding:0;}
html,body{height:100%;text-align:center;}
a:link,a:visited{text-decoration:none;}
/*菜单个性设置*/
body {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    /* 不设置的话页面滑动时，背景会不铺满*/
    background: url("/tt.jpeg") no-repeat fixed;
}
.contain{
    width: 590px;
    height:470px;
}
.box{
    float: left;
    width:211px;
    height:80%;
    margin:50px;
}
.box ul{
    list-style:none;
    text-align:left;
}
.box h2{
    width:211px;
    margin:0 auto;
    height:26px;
    background: rgba(126, 133, 148, 0.63) no-repeat left top;
    text-indent:1px;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height:30px;
    _line-height:33px;
    color:#3d3d3d;
    font-weight:normal;
}
/*一级菜单*/
.menu li.level1 a{
    display:block;
    line-height:30px;
    height:29px;
    padding-left:50px;
    font-size:12px;
    color:#000;
    background: #ffffff no-repeat left top;
}
/*一级菜单两态样式，供JS调用*/
.menu li.level1 a.hove {
    background:#82aedd no-repeat 30px center;
    color: #152c5a;
}
/*点动是字体颜色*/
.menu li.level1 a.cur{
    background-position:left -58px;
    color: #000000;
}
/*二级菜单*/
.menu li ul{
    padding-left:3px;
    overflow:hidden;
}
.menu li ul.level2{
    width:200px;
    display:none;
}
.menu li ul.level2 li{
    height:26px;
    line-height:30px;
}
.menu li ul.level2 li a{
    display:block;height:26px;
    line-height:26px;
    no-repeat:30px center;
    padding-left:50px;
    color:#42556B;
    border-buttom:1px #fd0153 solid;
    overflow:hidden;
}

/*二级菜单两态样式，供JS调用*/
.menu li ul.level2 li a.hove1{
    background:#82aedd no-repeat 30px center;
    color:#000;
}

.page{
	position:absolute;
	left:300px;
	right: 0px;
	top:0;
	bottom:0;
	z-index: 998;
	overflow: hidden;
	overflow-y: auto;
	box-sizing: border-box;
}
.layui-col-md6{
    color: #666;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: relative;
    display: block;
    box-sizing: border-box;
    border-left: 15px solid#ffffff;
    float: left;
}
.layui-elem-quote{
    margin-bottom: 10px;
    padding: 15px;
    line-height: 22px;
    border-left: 5px solid#009688;
    background-color: #f2f2f2;
}
/*底部banner模块*/
.banner {
    width: 590px;
    height: 470px;
    border: 5px solid gold;
    margin: 50px auto;
    /*定位  让子级在使用绝对定位的时候 以父级为参考*/
    position: relative;/*不脱离文档流 对网页标签无影响*/
}
/*高清 ** 大图 */
.content {
    list-style:none;/*去除列表自带圆点*/
    position: relative;
}
.content > li{
    position: absolute;
    top:0;
    left:0;
    /*先全部隐藏*/
    opacity:0;
    /*添加切换图片的过渡动画*/
    transition:opacity 0.5s;
}
.content>li:nth-child(1){
    opacity:1;
}
/*按钮*/
.button {
    padding-top: 180px;
    position: relative;
}
.left,.right {
    width: 30px;
    height: 60px;
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    opacity:0;
}

/*鼠标划入就显示*/
/******  hover后面不可使用群组性的选择器*/
.banner:hover .button>.left {
    opacity:1;
}
.banner:hover .right{
    opacity:1;
}
/*鼠标划入按钮 颜色加深*/
.left:hover, .right:hover{
    background-color: rgba(126, 133, 148, 0.63);
}
/*添加背景图片  箭头 > */
.left {
    left:0;
    background-image: url("img/fr.png");
    background-repeat: no-repeat;
    background-position: center;
}
.right {
    right:0;
    background-image: url("img/fr.png");
    background-repeat: no-repeat;
    background-position: center;
}
/*----------*/
/*小圆点*/
.dot {
    list-style:none;
    position: absolute;
    left: 50%;
    bottom: 30px;
    background-color: rgba(255, 255,255, 0.3);
    border-radius: 12px;
    padding:5px;
    margin-left: -94px;
}
.dot li {
    width:12px;
    height: 12px;
    border-radius: 6px;
    background-color: white;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.dot li:nth-child(1){
    background-color: #dc192a;
}
